@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

@layer base {
  @font-face {
    font-family: 'Fat Ass';
    src: url('/FATASSFI.TTF'), format('truetype');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-galindo;
    @apply text-black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
  }

  h1 {
    @apply text-headingMobile lg:text-heading;
  }

  p,
  a,
  span {
    @apply font-galindo;
    @apply text-paragMobile lg:text-parag;
  }
}

@layer utilities {
  .rich-text p,
  h1 {
    @apply mb-5;
  }

  .grain {
    background-image: url('/grain.png');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
}
